<!-- <div ng-include="'partials/navbar'"></div> -->

<div id="special" class="wrap highlight iphone section">
  <div id="dome" class="container text-center">
    <div class="row dome">
      <div class="col-sm-12">
        <center>
          <img src="/images/capitol_dome.jpg" alt="U.S. Capitol Building" class="img-responsive">
        </center>
      </div>
    </div>
  </div>
</div>
<div id="footer" class="wrap footer">
  <footer class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="logo"><a href="#"><strong>AOC </strong>Feedback</a></h1>
        <p class="social"><a href="http://twitter.com/#!/uscapitol" target="_blank" class="btn btn-xs btn-default btn-icon btn-round btn-stroke toSlide"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/ArchitectoftheCapitol" target="_blank" class="btn btn-xs btn-default btn-icon btn-round btn-stroke"><i class="fa fa-facebook"></i></a><a href="http://www.flickr.com/photos/uscapitol/" target="_blank" class="btn btn-xs btn-default btn-icon btn-round btn-stroke"><i class="fa fa-flickr"></i></a><a href="http://instagram.com/uscapitol" target="_blank" class="btn btn-xs btn-default btn-icon btn-round btn-stroke"><i class="fa fa-instagram"></i></a><a href="http://www.youtube.com/user/AOCgov" target="_blank" class="btn btn-xs btn-default btn-icon btn-round btn-stroke"><i class="fa fa-youtube"></i></a><a href="http://feeds.feedburner.com/architectofthecapitol" target="_blank" class="btn btn-xs btn-default btn-icon btn-round btn-stroke"><i class="fa fa-rss"></i></a></p>
      </div>
    </div>
  </footer>
</div>
