<!-- totals -->
<h2 ng-show='completed'>
    Completed: {{completed}} / {{total}} Score: {{points}}
</h2>

<h2 ng-hide='completed'>Do!</h2>

<div class="row">

    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>Tasks
                <div class="pull-right action-buttons">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-pencil"></span>Edit</a>
                            </li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-trash"></span>Delete</a>
                            </li>
                            <li>
                                <a href="http://www.jquery2dotnet.com">
                                    <span class="glyphicon glyphicon-flag"></span>Flag</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">

                    <li ng-class='{completed: todo.completed}' ng-repeat='(id, todo) in todos' class="list-group-item">
                        <div class="checkbox">
                            <input type='checkbox' ng-model="todo.completed" ng-change="todos.$save(id)" id="checkbox">
                            <label for="checkbox">{{todo.title}}</label>
                        </div>
                        <div class="pull-right action-buttons">
                            <a ng-click='todos.$remove(id)' class="trash">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            <!-- Total Count
                            <span class="label label-info">25</span> -->
                            {{remaining()}} of {{todos.length}} remaining
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">


        <div class="well">

            <!-- new todo form -->
            <form name='newTodoForm' ng-submit='create()' ng-enabled='newTodoForm.$valid'>
                <div class='form-group' has-feedback ng-class='{"has-error": newTodoForm.title.$dirty &&
                                 newTodoForm.title.$invalid}'>
                    <label for='title' class='control-label'>
                        Title
                        <span ng-show='newTodoForm.title.$dirty &&
                       newTodoForm.title.$error.required'>
                            Is required
                        </span>
                    </label>
                    <input type='text' name='title' placeholder='Title' autofocus required ng-model='newTodo.title' class='form-control' />
                </div>

                <div class='form-group' has-feedback ng-class='{"has-error": newTodoForm.points.$dirty &&
                                 newTodoForm.points.$invalid}'>
                    <label for='points' class='control-label'>
                        Points
                        <span ng-show='newTodoForm.points.$dirty && newTodoForm.points.$invalid'>
                            Must be between 0 and 10
                        </span>
                    </label>
                    <input type='number' name='points' placeholder='Points' class='form-control' ng-model='newTodo.points' min='0' max='10' step='1' required ng-class='{"has-error": newTodoForm.points.$invalid}' />
                </div>

                <button class='btn btn-primary' ng-disabled='newTodoForm.$invalid'>
                    Create ToDo
                </button>
            </form>

        </div>

    </div>

</div>





<!-- todo list -->

<!-- <ul class="list-group checked-list-box">
    <li ng-class='{completed: todo.completed}' ng-repeat='(id, todo) in todos' class="list-group-item">
        <input type='checkbox' ng-model="todo.completed" ng-change="todos.$save(id)">
        <p class='title'>{{todo.title}}</p>
        {{todo.points}}
        <button type='button' class='close' aria-hidden='true' ng-click='todos.$remove(id)'>&times;</button>
    </li>
</ul> -->

<!-- <table class='tasks table table-hover'>
    <tr ng-class='{completed: todo.completed}' ng-repeat='(id, todo) in todos'>
        <td><input type='checkbox' ng-model="todo.completed" ng-change="todos.$save(id)"></td>
        <td class='title'>{{todo.title}}</td>
        <td>{{todo.points}}</td>
        <td><button type='button' class='close' aria-hidden='true' ng-click='todos.$remove(id)'>&times;</button></td>
    </tr>
</table> -->
