.hero-widget {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.hero-widget .icon {
    display: block;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 10px;
    text-align: center;
}
.hero-widget var {
    display: block;
    height: 64px;
    font-size: 64px;
    line-height: 64px;
    font-style: normal;
}
.hero-widget label {
    font-size: 17px;
}
.hero-widget .options {
    margin-top: 10px;
}
/*.row {
    margin - top: 40px;
    padding: 0 10px;
}
.clickable {
    cursor: pointer;
}
.panel - heading div {
    margin - top: -18px;
    font - size: 15px;
}
.panel - heading div span {
    margin - left: 5px;
}
.panel - body {
    display: none;
}*/
