<html ng-app="sampleApp">

<head>
  <meta charset="utf-8">
  <title>CGK.io</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.19/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
  <script src="js/appedit.js"></script>
</head>

<body ng-controller="SampleCtrl">

  <div class="container">

    <div class="header">
      <h3 class="text-muted">CGK.io Resume</h3>
    </div>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="intro1">Personal Intro Paragraph #1</label>
            <textarea class="form-control" rows="3" ng-model="resume.intro1"></textarea>
          </div>

          <div class="form-group">
            <label for="intro2">Personal Intro Paragraph #2</label>
            <textarea class="form-control" rows="3" ng-model="resume.intro2"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="profobjs1">Professional Objects Paragraph #1</label>
            <textarea class="form-control" rows="3" ng-model="resume.profobjs1"></textarea>
          </div>

          <div class="form-group">
            <label for="profobjs2">Professional Objects Paragraph #2</label>
            <textarea class="form-control" rows="3" ng-model="resume.profobjs2"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="bestiniterativedesign">Best In: Iterative Design</label>
            <textarea class="form-control" rows="3" id="bestiniterativedesign" ng-model="resume.bestiniterativedesign"></textarea>
          </div>

          <div class="form-group">
            <label for="bestinemergtech">Best In: Emerging Technologies</label>
            <textarea class="form-control" rows="3" id="bestinemergtech" ng-model="resume.bestinemergtech"></textarea>
          </div>

          <div class="form-group">
            <label for="bestinmobile">Best In: Mobile (User) Experiences</label>
            <textarea class="form-control" rows="3" id="bestinmobile" ng-model="resume.bestinmobile"></textarea>
          </div>

          <div class="form-group">
            <label for="bestinmvp">Best In: Minimum Viable Products (MVP)</label>
            <textarea class="form-control" rows="3" id="bestinmvp" ng-model="resume.bestinmvp"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-6">
        <strong>Skill</strong>
      </div>
      <div class="col-xs-2">
        <strong>Yrs Experience</strong>
      </div>
      <div class="col-xs-2">
        <strong>Completed Projects</strong>
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Skill Set #1" ng-model="resume.skillone">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillone_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillone_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Skill Set #2" ng-model="resume.skilltwo">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skilltwo_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skilltwo_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Skill Set #3" ng-model="resume.skillthree">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillthree_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillthree_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Skill Set #4" ng-model="resume.skillfour">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillfour_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillfour_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Skill Set #5" ng-model="resume.skillfive">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillfive_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillfive_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Skill Set #6" ng-model="resume.skillsix">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillsix_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.skillsix_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" ng-model="resume.skills_totalprojects">
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="experienceaoc">Experience: Architect of the Capitol</label>
            <textarea class="form-control" rows="3" id="experienceaoc" ng-model="resume.experienceaoc"></textarea>
          </div>

          <div class="form-group">
            <label for="experienceceb">Experience: Corporate Executive Board</label>
            <textarea class="form-control" rows="3" id="experienceceb" ng-model="resume.experienceceb"></textarea>
          </div>

          <div class="form-group">
            <label for="experiencema">Experience: McIntosh & Associates</label>
            <textarea class="form-control" rows="3" id="experiencema" ng-model="resume.experiencema"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-xs-6">
        <strong>Skill</strong>
      </div>
      <div class="col-xs-2">
        <strong>Yrs Experience</strong>
      </div>
      <div class="col-xs-2">
        <strong>Completed Projects</strong>
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Trending Skill Set #1" ng-model="resume.trending_skillone">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillone_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillone_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Trending Skill Set #2" ng-model="resume.trending_skilltwo">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skilltwo_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skilltwo_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Trending Skill Set #3" ng-model="resume.trending_skillthree">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillthree_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillthree_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Trending Skill Set #4" ng-model="resume.trending_skillfour">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillfour_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillfour_projects">
      </div>
    </div>

    <div class="row marketing">
      <div class="col-xs-6">
        <input type="text" class="form-control" placeholder="Trending Skill Set #5" ng-model="resume.trending_skillfive">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillfive_yrsexperience">
      </div>
      <div class="col-xs-2">
        <input type="text" class="form-control" ng-model="resume.trending_skillfive_projects">
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="experienceaoc">Experience: Architect of the Capitol</label>
            <textarea class="form-control" rows="3" id="experienceaoc" ng-model="resume.experienceaoc"></textarea>
          </div>

          <div class="form-group">
            <label for="experienceceb">Experience: Corporate Executive Board</label>
            <textarea class="form-control" rows="3" id="experienceceb" ng-model="resume.experienceceb"></textarea>
          </div>

          <div class="form-group">
            <label for="experiencema">Experience: McIntosh & Associates</label>
            <textarea class="form-control" rows="3" id="experiencema" ng-model="resume.experiencema"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="educationlondon">Education: University of London</label>
            <textarea class="form-control" rows="3" id="educationlondon" ng-model="resume.educationlondon"></textarea>
          </div>

          <div class="form-group">
            <label for="educationkosovo">Education: University of Pristina</label>
            <textarea class="form-control" rows="3" id="educationkosovo" ng-model="resume.educationkosovo"></textarea>
          </div>

          <div class="form-group">
            <label for="educationoklahoma">Education: University of Oklahoma</label>
            <textarea class="form-control" rows="3" id="educationoklahoma" ng-model="resume.educationoklahoma"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="interestone">3D Printing</label>
            <textarea class="form-control" rows="3" id="interestone" ng-model="resume.interestone"></textarea>
          </div>

          <div class="form-group">
            <label for="interesttwo">DIY (Hobby) Electronics</label>
            <textarea class="form-control" rows="3" id="interesttwo" ng-model="resume.interesttwo"></textarea>
          </div>

          <div class="form-group">
            <label for="interestthree">Interest: No. 3</label>
            <textarea class="form-control" rows="3" id="interestthree" ng-model="resume.interestthree"></textarea>
          </div>

        </form>
      </div>
    </div>

    <hr>

    <div class="row marketing">
      <div class="col-lg-12">
        <form class="form-horizontal" role="form">

          <div class="form-group">
            <label for="hobbyone">Gadget Economics</label>
            <textarea class="form-control" rows="3" id="hobbyone" ng-model="resume.hobbyone"></textarea>
          </div>

          <div class="form-group">
            <label for="hobbytwo">Airports</label>
            <textarea class="form-control" rows="3" id="hobbytwo" ng-model="resume.hobbytwo"></textarea>
          </div>

        </form>
      </div>
    </div>

  </div>
  <!-- /container -->

</body>

</html>
