<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/personalintro">
          Personal Introduction
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/professionalobjects">
          Professional Objects
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/interactivedesign">
          Best In: Iterative Design
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/emergtech">
          Best In: Emerging Technologies
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mobile">
          Best In: Mobile (User) Experiences
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mvp">
          Best In: Minimum Viable Products (MVP)
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/skills">
          Skills
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/aoc">
          Experience: Architect of the Capitol
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ceb">
          Experience: Corporate Executive Board
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mcintosh">
          Experience: McIntosh & Associates
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/univoflondon">
          Education: University of London
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/univofpristina">
          Education: University of Pristina
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/univofokla">
          Education: University of Oklahoma
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/3dprinting">
          Interest: 3D Printing
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/gadgeteconomics">
          Interest: Gadget Economics
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/mobileization">
          Interest: Mobile-ization
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/diyelectronics">
          Hobby: DIY (Hobby) Electronics
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/airports">
          Hobby: Airports
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
